@import "tailwindcss";

:root {
  --background: var(--mantine-color-white);
  --foreground: var(--mantine-color-black);
  --background-subtle: rgba(255, 255, 255, 0.8);
  --subtle: rgba(0, 0, 0, 0.1);
  --hover: rgba(255, 255, 255, 0.05);
  --main: #ef233c;
  --transition: 300ms all ease-in-out;
  --defaultPadding: 12px;
  --filter-inverted: invert(1) brightness(0.9) contrast(1.2);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -4%;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

.active {
  color: var(--main);
}

a.link {
  padding-bottom: 2px;
  border-bottom: 1px solid var(--subtle);
  transition: var(--transition);
}

a.link:hover {
  border-bottom: 1px solid var(--main);
}

img.inverted {
  filter: var(--filter-inverted);
}

.dimmed {
  color: var(--mantine-color-dimmed);
}
