@import "tailwindcss";

:root {
  --background: var(--mantine-color-white);
  --foreground: var(--mantine-color-black);
  --background-subtle: #f5f5f5;
  --subtle: rgba(0, 0, 0, 0.1);
  --hover: rgba(255, 255, 255, 0.05);
  --main: #ef233c;
  --transition: 300ms all ease-in-out;
  --defaultPadding: 12px;
  --filter-inverted: invert(1) brightness(0.9) contrast(1.2);
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -4%;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

.active {
  position: relative;
  color: var(--foreground);
}

.active::after {
  position: absolute;
  bottom: -14px;
  content: "";
  width: 100%;
  height: 2px;
  background: var(--foreground);
}

a.link {
  color: var(--mantine-color-dimmed);
  transition: var(--transition);
}

a.link:hover {
  color: var(--main);
}

img.inverted {
  filter: var(--filter-inverted);
}

.dimmed {
  color: var(--mantine-color-dimmed);
}

.mantine-Input-input {
  border-color: black;
}
