@import "tailwindcss";

:root {
  --main: #ff0000;
  --main-rgb: 239, 35, 60;
  --background: var(--mantine-color-white);
  --foreground: var(--mantine-color-black);
  --background-subtle: var(--mantine-color-gray-1);
  --subtle: rgba(0, 0, 0, 0.1);
  --hover: rgba(255, 255, 255, 0.05);
  --transition: 300ms all ease-in-out;
  --defaultPadding: 12px;
  --filter-inverted: invert(1) brightness(0.9) contrast(1.2);
}

.meinl-cymbals {
  --main: #d2934d;
  --main-rgb: 210, 147, 77;
}

.meinl-stick--brush {
  --main: #6d492e;
  --main-rgb: 109, 73, 46;
}

.meinl-sonic-energy {
  --main: #d2942f;
  --main-rgb: 210, 148, 47;
}

.nino-percussion {
  --main: #52ae32;
  --main-rgb: 82, 174, 50;
}

.ortega {
  --main: #f49600;
  --main-rgb: 244, 150, 0;
}

.ibanez {
  --main: #303030;
  --main-rgb: 48, 48, 48;
}

.tama {
  --main: #d80c18;
  --main-rgb: 216, 12, 24;
}

body {
  color: var(--foreground);
  background: var(--background);
}

h2 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -4%;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -4%;
}

a.link {
  color: var(--mantine-color-dimmed);
  transition: var(--transition);
}

a.link:hover {
  color: var(--main);
}

img.inverted {
  filter: var(--filter-inverted);
}

.dimmed {
  color: var(--mantine-color-dimmed);
}

.mantine-Autocomplete-input {
  color: white;
}

.mantine-Input-input:focus {
  border-color: var(--main);
}

.mantine-Input-input.mantine-InputBase-input,
.mantine-Autocomplete-input:focus {
  border-color: transparent;
}

.mantine-Autocomplete-option:where([data-combobox-selected]),
.mantine-Select-option:where([data-combobox-selected]) {
  background-color: var(--main);
}
