@import "tailwindcss";

:root {
  --background: var(--mantine-color-white);
  --foreground: var(--mantine-color-black);
  --background-subtle: var(--mantine-color-gray-1);
  --subtle: rgba(0, 0, 0, 0.1);
  --hover: rgba(255, 255, 255, 0.05);
  --main: #ef233c;
  --transition: 300ms all ease-in-out;
  --defaultPadding: 12px;
  --filter-inverted: invert(1) brightness(0.9) contrast(1.2);
}

.meinl-cymbals {
  --main: #d2934d;
}

.meinl-stick--brush {
  --main: #6d492e;
}

.meinl-sonic-energy {
  --main: #d2942f;
}

.nino-percussion {
  --main: #52ae32;
}

.ortega {
  --main: #f49600;
}

.ibanez {
  --main: #303030;
}

.tama {
  --main: #d80c18;
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -4%;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

a.link {
  color: var(--mantine-color-dimmed);
  transition: var(--transition);
}

a.link:hover {
  color: var(--main);
}

img.inverted {
  filter: var(--filter-inverted);
}

.dimmed {
  color: var(--mantine-color-dimmed);
}

.gradient {
  background-image: linear-gradient(
    to bottom,
    var(--background) 0%,
    var(--background-subtle) 100%
  );
}

.mantine-Input-input.mantine-InputBase-input {
  border-color: transparent;
}
